- name: Ensure we are able to connect to VM(s)
  ping:

- name: Ensure Postfix is installed
  apt: name=postfix

- name: Ensure Postfix is configured
  debug: msg=TODO

- name: Ensure OpenDKIM is installed
  debug: msg=TODO

- name: Ensure OpenDKIM is configured
  debug: msg=TODO

- name: Ensure Dovecot is installed
  debug: msg=TODO

- name: Ensure Dovecot is configured
  debug: msg=TODO

- name: Ensure SMTP is working
  debug: msg=TODO

- name: Ensure IMAP is working
  debug: msg=TODO
