- name: Ensure Python 2 is installed
  become: true
  raw: test -e /usr/bin/python || (apt -y update && apt install -y python)

- name: Ensure we are able to connect to VM(s)
  ping:

- name: Ensure OpenDKIM is installed
  become: true
  apt: name=opendkim update_cache=yes

- name: Ensure OpenDKIM is configuration is in place
  become: true
  template: src=opendkim.conf.j2 dest=/etc/opendkim owner=root group=root

- name: Ensure OpenDKIM other config is in place
  become: true
  template: src=opendkim.j2 dest=/etc/default/opendkim owner=root group=root

- name: Ensure OpenDKIM is started and configured to start at boot
  become: true
  service: name=opendkim state=restarted enabled=yes

- name: Ensure OpenDKIM is listening on port 25255
  wait_for: port=25255 delay=10

- name: Ensure Postfix is installed
  become: true
  apt: name=postfix update_cache=yes

- name: Ensure Postfix is configured
  become: true
  template: src=main.cf.j2 dest=/etc/postfix/main.cf owner=root group=root

- name: Ensure Postfix is started and configured to start at boot
  become: true
  service: name=postfix state=restarted enabled=yes

- name: Check that Postfix is listening on port 25
  wait_for: port=25 delay=10

- name: Ensure Dovecot is installed
  become: true
  apt: name=dovecot-imapd update_cache=yes

- name: Ensure Dovecot is configured
  debug: msg=TODO

- name: Ensure Dovecot is started and configured to start at boot
  become: true
  service: name=dovecot state=restarted enabled=yes

- name: Check that Dovecot is listening on port 143
  wait_for: port=143 delay=10
